/* -------------------------------------------------------------------------- */
/*                              Colors variables                              */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                             Font variables                                 */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                              Layout Variables                              */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                            Breakpoints Variables                           */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                   Mixins                                   */
/* -------------------------------------------------------------------------- */
/* ----------------------- Light / Dark color Modifier ---------------------- */
/* ------------------------ SideBars Triggers buttons & Background ----------------------- */
/* ------------------------------ Media queries ----------------------------- */
/* -------------------------------------------------------------------------- */
/*                        Reset default browsers values                       */
/* -------------------------------------------------------------------------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 87.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 37.5%; } }

body {
  position: relative;
  background-color: #79777e; }

/* -------------------------------------------------------------------------- */
/*                                  SVG icon                                  */
/* -------------------------------------------------------------------------- */
.svg-icon--xsmall {
  height: 1.2rem;
  width: 1.2rem; }

.svg-icon--small {
  height: 2rem;
  width: 2rem; }

.svg-icon--medium {
  height: 3rem;
  width: 3rem; }

.svg-icon--big {
  height: 4.5rem;
  width: 4.5rem; }

/* -------------------------------------------------------------------------- */
/*                                   button                                   */
/* -------------------------------------------------------------------------- */
button:focus,
a:focus {
  outline: none; }

a {
  text-decoration: none; }

/* -------------------------------------------------------------------------- */
/*                              Custom Scroll bar                             */
/* -------------------------------------------------------------------------- */
*::-webkit-scrollbar {
  width: 1.1rem;
  padding-top: 1rem;
  opacity: 0; }
  *::-webkit-scrollbar-track {
    background: transparent; }
  *::-webkit-scrollbar-thumb {
    background: rgba(115, 115, 115, 0.4);
    border-radius: 10rem;
    transition: all 0.2s; }
    *::-webkit-scrollbar-thumb:hover {
      background: rgba(191, 191, 191, 0.4); }

/* -------------------------------------------------------------------------- */
/*                             Default typography                             */
/* -------------------------------------------------------------------------- */
body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7;
  color: #595959; }

/* -------------------------------------------------------------------------- */
/*                                  Headings                                  */
/* -------------------------------------------------------------------------- */
.heading-1 {
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.8rem; }
  .heading-1--light {
    color: #bfbfbf; }
  .heading-1--dark {
    color: #737373; }

.heading-2 {
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 0.2rem; }
  .heading-2--light {
    color: #bfbfbf; }
  .heading-2--dark {
    color: #737373; }

.heading-3 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem; }
  .heading-3--light {
    color: #bfbfbf; }
  .heading-3--dark {
    color: #737373; }

/* -------------------------------------------------------------------------- */
/*                                    Text                                    */
/* -------------------------------------------------------------------------- */
.paragraph {
  font-size: 1.4rem;
  line-height: 1.8;
  font-size: 1.6rem; }

/* -------------------------------------------------------------------------- */
/*                                  Utilities                                 */
/* -------------------------------------------------------------------------- */
/* ------------------------ Text transform utilities ------------------------ */
.u-text-uppercase {
  text-transform: uppercase; }

.u-text-center {
  text-align: center; }

.u-text-highlighted {
  color: #6f609e;
  font-size: 1.7rem; }

/* --------------------------- Content positioning -------------------------- */
.u-content-center {
  display: flex;
  justify-content: center;
  align-items: center; }

/* --------------------------------- Margin --------------------------------- */
.u-margin-bottom--small:not(:last-child) {
  margin-bottom: 1rem; }

.u-margin-bottom--medium:not(:last-child) {
  margin-bottom: 1.2rem; }

/* ------------------------------ Image Sizing ------------------------------ */
.img__size--cover {
  height: 100%;
  object-fit: cover;
  object-position: center; }

/* -------------------------------------------------------------------------- */
/*                                 Animations                                 */
/* -------------------------------------------------------------------------- */
/* ------------------------ Badges Animation------------------------ */
@keyframes jello-vertical {
  0% {
    transform: translate(-70%, -50%) scale3d(1, 1, 1); }
  1% {
    transform: translate(-70%, -50%) scale3d(0.75, 1.25, 1); }
  5% {
    transform: translate(-70%, -50%) scale3d(1.25, 0.75, 1); }
  8% {
    transform: translate(-70%, -50%) scale3d(0.85, 1.15, 1); }
  12% {
    transform: translate(-70%, -50%) scale3d(1.05, 0.95, 1); }
  15% {
    transform: translate(-70%, -50%) scale3d(0.95, 1.05, 1); }
  20% {
    transform: translate(-70%, -50%) scale3d(1, 1, 1); }
  100% {
    transform: translate(-70%, -50%) scale3d(1, 1, 1); } }

/* ----------------------------- Logo Animation ----------------------------- */
@keyframes rotate-in-center {
  0% {
    transform: rotate(-360deg);
    opacity: 0; }
  100% {
    transform: rotate(0);
    opacity: 1; } }

/* ----------------------------- Modal Animation ---------------------------- */
@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0); }
  100% {
    background: rgba(0, 0, 0, 0.7); } }

@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7); }
  100% {
    background: rgba(0, 0, 0, 0); } }

@keyframes quickScaleDown {
  0% {
    transform: scale(1); }
  99.9% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes roadRunnerIn {
  0% {
    transform: translateX(-1500px) skewX(30deg) scaleX(1.3); }
  70% {
    transform: translateX(30px) skewX(0deg) scaleX(0.9); }
  100% {
    transform: translateX(0px) skewX(0deg) scaleX(1); } }

@keyframes roadRunnerOut {
  0% {
    transform: translateX(0px) skewX(0deg) scaleX(1); }
  30% {
    transform: translateX(-30px) skewX(-5deg) scaleX(0.9); }
  100% {
    transform: translateX(1500px) skewX(30deg) scaleX(1.3); } }

/* ---------------------------- Popup Animations ---------------------------- */
@keyframes zoom-out {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0.95); } }

@keyframes zoom-in {
  0% {
    transform: scale(0.95); }
  100% {
    transform: scale(1); } }

@keyframes scaleUp {
  0% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0; }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1; } }

@keyframes scaleDown {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 1; }
  100% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0; } }

/* --------------------------- SideBar Animations --------------------------- */
@keyframes slide-left {
  0% {
    transform: translateX(100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes slide-left-hide {
  0% {
    transform: translateX(0);
    opacity: 1; }
  100% {
    transform: translateX(100%);
    opacity: 0; } }

@keyframes slide-right {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes slide-right-hide {
  0% {
    transform: translateX(0);
    opacity: 1; }
  100% {
    transform: translateX(-100%);
    opacity: 0; } }

/* --------------------------------- Search Component--------------------------------- */
.search {
  width: 100%;
  display: flex;
  justify-content: center; }
  .search__input {
    width: 100%;
    padding: 1rem 3rem;
    margin-right: 0;
    transform: translateX(-1.25rem);
    font-family: inherit;
    font-size: inherit;
    color: #ccc;
    border: none;
    transition: all 0.3s;
    background-color: transparent;
    border-bottom: solid 0.2rem transparent; }
    .search__input:focus, .search__input:hover {
      outline: none; }
    .search__input::-webkit-input-placeholder {
      color: #bfbfbf; }
  .search__button {
    background-color: transparent;
    border: none;
    transform: translateX(50%);
    z-index: 10;
    transition: all 0.2s;
    color: #bfbfbf; }
    .search__button:hover {
      transform: translateX(50%) scale(1.08); }
    .search__button:active {
      transform: translateX(50%) translateY(0.2rem); }
    .search__button svg {
      fill: currentColor; }
  .search--animated .search__input {
    width: 70%;
    padding: 1rem 3rem; }
    .search--animated .search__input:focus, .search--animated .search__input:hover {
      width: 80%;
      border-bottom: solid 0.1rem #bfbfbf;
      outline: none; }
  .search--animated .search__button:hover ~ .search__input {
    width: 80%;
    border-bottom: solid 0.2rem #777;
    outline: none; }

/* ----------------------------- User navigation Component---------------------------- */
.user-nav {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-column-gap: 2rem;
  justify-content: space-around; }
  .user-nav__item, .user-nav {
    display: flex;
    align-items: center;
    transition: all 0.2s;
    color: #bfbfbf; }
    .user-nav__item:hover:not(:last-child), .user-nav__item:focus:not(:last-child), .user-nav:hover:not(:last-child), .user-nav:focus:not(:last-child) {
      transform: scale(1.08);
      outline: none;
      color: #e6e6e6; }
  .user-nav .user-box {
    display: flex;
    align-items: center;
    color: #bfbfbf; }
    .user-nav .user-box__user-name {
      font-weight: 700;
      margin-right: 1rem; }
    .user-nav .user-box__user-picture {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
      margin-right: 1rem; }
    .user-nav .user-box__button-plus {
      display: flex;
      align-items: center;
      cursor: pointer;
      background: transparent;
      border: none;
      color: inherit; }
      .user-nav .user-box__button-plus:hover, .user-nav .user-box__button-plus:focus {
        transform: scale(1.08);
        outline: none;
        color: #e6e6e6; }
  .user-nav svg {
    fill: currentColor; }
  @media only screen and (max-width: 25em) {
    .user-nav {
      display: none; } }

/* ---------------------------------- Badge Component--------------------------------- */
.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 900;
  transform: translate(-70%, -50%);
  box-shadow: 0 0.2rem 0.4rem #000; }
  .badge--small {
    font-size: 0.8rem;
    height: 1.5rem;
    width: 1.5rem; }
  .badge--secondary {
    background-color: #584c7c;
    color: #fff; }
  .badge--animated {
    animation: jello-vertical 5s ease-out infinite; }

/* -------------------------- CTA : Call To Action Component-------------------------- */
.cta {
  background-color: #bfbfbf;
  border-top: 0.7px solid rgba(45, 50, 82, 0.8);
  display: grid; }
  @media only screen and (max-width: 60em) {
    .cta {
      display: none; } }

/* ---------------------------- Accordion Effect Component---------------------------- */
.accordion__trigger {
  padding: 1.3rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  margin-bottom: 1px;
  background-color: #bfbfbf; }
  .accordion__trigger > * {
    color: #6f609e; }
  .accordion__trigger svg {
    fill: currentColor;
    transition: transform 0.3s .4s; }
  .accordion__trigger:hover, .accordion__trigger:focus, .accordion__trigger--opened {
    background-color: #2d3252; }
    .accordion__trigger:hover > *, .accordion__trigger:focus > *, .accordion__trigger--opened > * {
      color: #bfbfbf; }
  .accordion__trigger--opened svg {
    transform: rotate(180deg); }

.accordion__items-panel {
  background-color: #121321; }
  .accordion__items-panel--hide {
    display: none; }

/* ----------------------------------Menu List Component--------------------------------- */
.menu-list {
  display: grid; }
  .menu-list__item {
    display: flex;
    align-items: center;
    color: #737373;
    font-weight: 300;
    position: relative;
    overflow: hidden;
    padding: 1rem 4rem;
    text-transform: capitalize;
    font-size: 1.4rem;
    transition: all 0.2s;
    z-index: 5; }
    .menu-list__item svg {
      margin-right: 1.5rem;
      fill: currentColor; }
    .menu-list__item::before {
      z-index: -1;
      content: "";
      height: 2rem;
      width: 2rem;
      position: absolute;
      top: 0;
      right: 0;
      transition: all 0.6s ease-in-out;
      background-color: #2d3252;
      opacity: 0; }
    .menu-list__item:hover, .menu-list__item:focus {
      transform: translateX(0.5rem);
      color: #e6e6e6; }
    .menu-list__item:hover::before, .menu-list__item:focus::before {
      transform: scale(40);
      opacity: 1; }
    .menu-list__item--active {
      color: #e6e6e6;
      transform: translateX(0.5rem);
      background-color: #2d3252; }

/* -------------------------------- Flip Card Component------------------------------- */
.flip-card {
  perspective: 110rem;
  cursor: pointer; }
  .flip-card__side {
    padding: 0.8rem 0rem;
    transition: all 0.7s;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    backface-visibility: hidden;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2); }
    .flip-card__side--front {
      color: #bfbfbf;
      background-color: #151728;
      font-size: 1.7rem;
      font-weight: 300; }
    .flip-card__side--back {
      transform: rotateX(180deg);
      background-color: #2d3252;
      font-weight: 100; }
  .flip-card:hover .flip-card__side--front,
  .flip-card--flipped .flip-card__side--front {
    transform: rotateX(-180deg); }
  .flip-card:hover .flip-card__side--back,
  .flip-card--flipped .flip-card__side--back {
    transform: rotateX(0); }

/* ---------------------------- Button Compontent --------------------------- */
.btn {
  /* ---------------------------------- Shape --------------------------------- */
  /* ---------------------------------- Size ---------------------------------- */
  /* ---------------------------------- Color --------------------------------- */ }
  .btn, .btn:link, .btn:visited {
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    color: inherit;
    display: flex;
    align-items: center; }
  .btn--basic {
    padding: 1rem 2rem;
    border-radius: 0.4rem;
    border: solid 0.03rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.7);
    transition: all 0.2s; }
    .btn--basic:hover, .btn--basic:focus {
      transform: translateY(-0.1rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.9); }
    .btn--basic:active {
      transform: translateY(-0.05rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }
  .btn--rounded {
    padding: 0.2rem 1.5rem;
    border-radius: 2rem;
    transition: all 0.2s; }
  .btn--md {
    font-size: 1.5rem;
    font-weight: 300; }
  .btn--md-bold {
    font-size: 1.6rem;
    font-weight: 400; }
  .btn--transparent {
    color: #bfbfbf;
    transition: all 0.2s; }
  .btn--primary {
    transition: all 0.2s; }
    .btn--primary:hover, .btn--primary:focus, .btn--primary-active {
      color: #bfbfbf !important;
      background-color: #2d3252 !important; }
  .btn--secondary {
    color: #e6e6e6 !important;
    background-color: #584c7c;
    border-color: transparent;
    text-shadow: 0 2rem 4rem white; }

/* ----------------------------- Modal component ---------------------------- */
.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  display: none;
  justify-content: center;
  background-color: #000;
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  /* ---------------------------- Closing Animation --------------------------- */
  /* ---------------------- Color depending on the modal type (Informaation, Warning, Error) --------------------- */ }
  .modal__box {
    margin-top: 2rem;
    width: 50%;
    min-width: 40rem;
    height: max-content;
    border-radius: 0.7rem;
    box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.7);
    display: grid;
    overflow: hidden;
    transform: translateX(-1500px);
    animation: roadRunnerIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
  .modal--closing {
    animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
  .modal--closing .modal__box {
    animation: roadRunnerOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
  .modal__header {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    padding: 0.8rem 2rem;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-items: center; }
  .modal__title {
    font-weight: 400; }
  .modal__icon {
    fill: currentColor;
    margin-right: 1rem; }
  .modal__close {
    font-weight: 700;
    font-size: 2.5rem;
    cursor: pointer;
    transition: all 0.2s; }
    .modal__close:hover {
      transform: translateY(-0.15rem);
      text-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.4); }
    .modal__close:active {
      transform: translateY(-0.08rem);
      text-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.4); }
  .modal__body {
    padding: 2rem;
    overflow: auto;
    height: 20rem; }
  .modal__footer {
    padding: 1rem; }
  .modal--information .modal__header,
  .modal--information .modal__footer {
    color: #bfbfbf;
    background-color: #151728; }
  .modal--information .modal__body {
    color: #bfbfbf;
    background-color: #2d3252; }

/* ----------------------------- Popup Component ---------------------------- */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 200; }
  .popup__background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%; }
  .popup__content {
    background-color: #151728;
    box-shadow: 0 4rem 4rem rgba(0, 0, 0, 0.9);
    border-radius: 0.7rem;
    height: 70%;
    min-height: 38rem;
    overflow: hidden;
    display: flex;
    justify-content: center; }
  .popup--show .popup__background {
    animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
  .popup--show .popup__content {
    animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
  .popup--hide .popup__background {
    animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
  .popup--hide .popup__content {
    animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }

/* ---------------------------------- Story Component --------------------------------- */
.story {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 1.5rem;
  align-items: center;
  cursor: pointer; }
  .story__user-pic {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    border: solid 0.3rem #584c7c;
    grid-row: 1 / 3;
    object-fit: cover;
    object-position: center; }
  .story:hover .story__user-pic {
    border: solid 0.3rem #bfbfbf; }
  .story__user-name {
    color: #bfbfbf;
    font-size: 1.6rem;
    text-transform: capitalize; }
  .story__last-update {
    text-transform: lowercase; }

/* --------------------------------- Contact -------------------------------- */
.contact {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  cursor: pointer; }
  .contact__pic {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    grid-row: 1 / 3;
    object-fit: cover;
    object-position: center;
    margin-right: 2rem; }
  .contact__name {
    color: #bfbfbf;
    font-size: 1.6rem;
    line-height: 0; }
  .contact--oneline .contact__status {
    fill: #584c7c; }
  .contact--offline .contact__status {
    fill: #737373; }

.card {
  background-color: #151728;
  padding: 1.8rem;
  border-radius: .7rem;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3); }

/* ------------------------------- Event card Component------------------------------- */
.event {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  color: #e6e6e6; }
  .event__poster {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    grid-row: 1 / 2;
    grid-column: 1 / 2; }
  .event__date-box {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: grid;
    width: 25%;
    height: 40%;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.8);
    transform: translate(20%, 20%); }
  .event__month {
    background-color: #6f609e;
    padding: 0.5rem; }
  .event__day {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.5rem; }
  .event__name {
    font-size: 1.8rem; }
  .event__location {
    font-size: 1.4rem;
    color: #737373; }
  .event__name, .event__location {
    margin-left: 1rem; }

/* ------------------------------ Page Account Component------------------------------ */
.page {
  display: flex;
  align-items: center; }
  .page__profile-picture {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 2rem; }
  .page__name {
    font-size: 1.6rem;
    line-height: 0; }

/* --------------------------- New Post Component --------------------------- */
.new-post {
  display: grid;
  grid-row-gap: 2rem;
  grid-template-rows: repeat(3, auto); }
  .new-post__header {
    display: flex; }
  .new-post__type-list {
    display: flex;
    list-style: none; }
  .new-post__type-item {
    color: #737373;
    margin-right: 1.5rem;
    display: flex; }
  .new-post__form {
    display: flex;
    align-items: center; }
  .new-post__text-input {
    width: 100%;
    padding: 2rem 0;
    border: none;
    background-color: transparent;
    color: inherit;
    font-size: 1.6rem; }
    .new-post__text-input:focus {
      outline: none; }
    .new-post__text-input::-webkit-input-placeholder {
      color: #737373;
      font-size: 1.6rem; }
  .new-post__author-picture {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    grid-row: 1 / 3;
    object-fit: cover;
    object-position: center;
    margin-right: 2rem;
    cursor: pointer; }
  .new-post__footer {
    border-top: 0.7px solid rgba(115, 115, 115, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    padding-top: 1rem; }
  .new-post__option-list {
    list-style: none;
    display: flex; }
  .new-post__option-item svg {
    fill: #737373;
    margin-right: 1rem; }
  @media only screen and (max-width: 25em) {
    .new-post__footer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
    .new-post__option-list {
      margin-bottom: 2rem; } }

/* ----------------------------- Post component ----------------------------- */
.post {
  display: grid;
  grid-row-gap: 2rem;
  /* ------------------------------- Post Header ------------------------------ */
  /* ------------------------------- Pot Footer ------------------------------- */ }
  .post__header {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .post__title-box {
    display: grid;
    grid-template-columns: min-content 1fr; }
  .post__author-pic {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 2rem;
    cursor: pointer;
    grid-row: 1 / 3; }
  .post__title {
    font-size: 1.6rem; }
  .post__author-name {
    text-transform: capitalize;
    color: #e6e6e6;
    font-weight: 700;
    cursor: pointer; }
  .post__label {
    text-transform: lowercase; }
  .post__date {
    color: #737373;
    text-transform: lowercase; }
  .post__option {
    cursor: pointer; }
    .post__option svg {
      fill: #737373;
      transition: all 0.2s; }
      .post__option svg:hover {
        fill: #bfbfbf; }
  .post__body {
    padding: 0 2rem; }
  .post__footer {
    padding: 0 2rem; }
  .post__reation-list {
    list-style: none;
    display: flex;
    align-items: center; }
  .post__reaction-item {
    margin-right: 2.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #737373;
    transition: all .2S; }
    .post__reaction-item:hover {
      color: #bfbfbf; }
    .post__reaction-item svg {
      fill: currentColor;
      margin-right: .5rem; }
  .post__reaction-count {
    font-size: 1.3rem;
    font-weight: 700; }

/* ----------------------- Image Composition Component ---------------------- */
.image-composition {
  display: grid;
  height: 33rem;
  align-items: stretch; }
  .image-composition__image {
    border: 0.4rem solid rgba(45, 50, 82, 0.8);
    cursor: pointer; }
  .image-composition--2 {
    grid-template-columns: repeat(2, 1fr); }
  .image-composition--2 .image-composition__image {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .image-composition--3 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50%); }
  .image-composition--3 .image-composition__image {
    width: 100%;
    height: 100%;
    object-fit: cover; }
    .image-composition--3 .image-composition__image:nth-child(1) {
      grid-row: 1 / -1; }

/* -------------------------------------------------------------------------- */
/*                               Container-fluid                              */
/* -------------------------------------------------------------------------- */
.container-fluid {
  display: grid;
  grid-template-columns: [full-start sidebar-left-start] 27rem [sidebar-left-end main-start header-start] 1fr [main-end sidebar-right-start footer-start] 27rem [sidebar-right-end hearder-end footer-end full-end];
  transition: all 0.2s;
  grid-template-rows: 5.9rem minmax(45rem, calc(100vh - 5.9rem - 5rem)) 5rem;
  grid-auto-flow: column;
  background-color: #151728; }
  @media only screen and (max-width: 75em) {
    .container-fluid {
      grid-template-columns: [full-start sidebar-left-start] 27rem [sidebar-left-end main-start header-start] 1fr [sidebar-right-start footer-start] 21rem [main-end sidebar-right-min-start footer-start-min] 6rem [sidebar-right-end hearder-end footer-end full-end]; } }
  @media only screen and (max-width: 60em) {
    .container-fluid {
      grid-template-columns: [full-start sidebar-left-start] 6rem [sidebar-min-left-end header-start main-start] 21rem [sidebar-left-end] 1fr [sidebar-right-start footer-start] 21rem [main-end sidebar-right-min-start footer-start-min] 6rem [sidebar-right-end hearder-end footer-end full-end]; } }
  @media only screen and (max-width: 25em) {
    .container-fluid {
      grid-template-columns: [full-start sidebar-left-start] 4rem [sidebar-min-left-end header-start main-start] 20rem [sidebar-left-end] 1fr [sidebar-right-start footer-start] 20rem [main-end sidebar-right-min-start footer-start-min] 4rem [sidebar-right-end hearder-end footer-end full-end]; } }
  .container-fluid--zoom-in {
    animation: zoom-in 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
  .container-fluid--zoom-out {
    animation: zoom-out 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }

/* -------------------------------------------------------------------------- */
/*                                   Header                                   */
/* -------------------------------------------------------------------------- */
.header {
  grid-column: header-start / header-end;
  grid-row: 1 / 2;
  align-self: start;
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 27rem);
  justify-content: center;
  align-items: stretch;
  height: 100%;
  padding: 1rem 0;
  background-color: #151728;
  border-bottom: 0.7px solid rgba(45, 50, 82, 0.8); }
  @media only screen and (max-width: 25em) {
    .header {
      grid-template-columns: 1fr; } }

/* -------------------------------------------------------------------------- */
/*                                Left sidebar                                */
/* -------------------------------------------------------------------------- */
.sidebar-left {
  grid-column: sidebar-left-start / sidebar-left-end;
  grid-row: 1 / 4;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  border-right: 0.7px solid rgba(45, 50, 82, 0.8);
  /* ---------------------------- Responsivity --------------------------- */ }
  .sidebar-left .heading-box {
    height: 5.9rem;
    cursor: pointer;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center; }
    .sidebar-left .heading-box__logo {
      height: 3.5rem;
      width: 3.5rem;
      margin-right: 1rem;
      animation: rotate-in-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 0.5s; }
  .sidebar-left__trigger {
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 10;
    background-color: #151728;
    align-self: start;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-top: 1px solid rgba(115, 115, 115, 0.8);
    border-bottom: 1px solid rgba(115, 115, 115, 0.8);
    transition: all 0.3s;
    height: 5.9rem;
    display: none; }
    .sidebar-left__trigger:hover {
      background-color: #2d3252; }
    .sidebar-left__trigger svg {
      fill: #bfbfbf; }
    @media only screen and (max-width: 60em) {
      .sidebar-left__trigger {
        display: flex; } }
  @media only screen and (max-width: 60em) {
    .sidebar-left {
      grid-column: sidebar-left-start / sidebar-min-left-end;
      grid-template-rows: auto 1fr;
      overflow: hidden; }
      .sidebar-left .heading-box {
        align-self: center;
        writing-mode: vertical-lr;
        display: flex; }
        .sidebar-left .heading-box__logo {
          margin: 0;
          margin-bottom: 1.5rem;
          animation: rotate-in-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 0.5s; }
      .sidebar-left--show {
        z-index: 100;
        background-color: #151728;
        grid-column: sidebar-left-start / sidebar-left-end;
        animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
        .sidebar-left--show .sidebar-left__trigger {
          display: none; }
        .sidebar-left--show .heading-box {
          background-color: #151728;
          writing-mode: horizontal-tb;
          align-self: stretch; }
          .sidebar-left--show .heading-box__logo {
            margin: 0;
            margin-right: 1rem;
            animation: rotate-in-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 0.5s; }
        .sidebar-left--show .navigation {
          display: flex; }
        .sidebar-left--show .cta {
          display: grid; }
      .sidebar-left__resp-backgroud {
        z-index: 100;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
        .sidebar-left__resp-backgroud--hide {
          animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
      .sidebar-left--hide {
        animation: slide-right-hide 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; } }
  @media only screen and (max-width: 37.5em) {
    .sidebar-left--show .cta {
      display: none; } }

/* ------------------------------- Navigation ------------------------------- */
.navigation {
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 60em) {
    .navigation {
      display: none; } }

/* -------------------------------------------------------------------------- */
/*                                Main content                                */
/* -------------------------------------------------------------------------- */
.main {
  grid-column: main-start / main-end;
  grid-row: 2 / 4;
  position: relative;
  background-color: #24273b;
  color: #bfbfbf;
  overflow: auto;
  /* &::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../img/banner.jpg);
        background-position: center;
        background-size: cover;
        z-index: -1;
        //filter: blur(2px)
    }*/ }

/* -------------------------------------------------------------------------- */
/*                                Right sidebar                               */
/* -------------------------------------------------------------------------- */
.sidebar-right {
  grid-column: sidebar-right-start / sidebar-right-end;
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: 1fr min-content;
  overflow: hidden;
  /* ------------------------------ Responsivity ------------------------------ */ }
  .sidebar-right .users {
    overflow-y: auto;
    grid-row: 1/2;
    grid-column: 1/1;
    z-index: 20;
    background-color: #151728;
    transition: all 0.5s; }
    .sidebar-right .users__stories {
      border-bottom: 0.7px solid rgba(115, 115, 115, 0.8); }
    .sidebar-right .users__contacts, .sidebar-right .users__stories {
      padding: 3rem 0;
      display: grid;
      grid-row-gap: 0.8rem;
      margin: 0 2rem; }
  .sidebar-right .toolbar {
    padding: 1rem;
    border-top: 0.7px solid rgba(115, 115, 115, 0.8);
    border-bottom: 0.7px solid rgba(115, 115, 115, 0.8);
    display: grid;
    grid-template-columns: 1fr repeat(3, min-content);
    align-items: center;
    grid-column-gap: 1.5rem;
    background-color: #151728;
    z-index: 20; }
    .sidebar-right .toolbar svg {
      cursor: pointer;
      fill: #bfbfbf;
      transition: all 0.5s; }
      .sidebar-right .toolbar svg:hover {
        fill: #737373; }
  .sidebar-right__trigger {
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 10;
    background-color: #151728;
    align-self: start;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-top: 1px solid rgba(115, 115, 115, 0.8);
    border-bottom: 1px solid rgba(115, 115, 115, 0.8);
    transition: all 0.3s;
    height: 5.9rem;
    display: none; }
    .sidebar-right__trigger:hover {
      background-color: #2d3252; }
    .sidebar-right__trigger svg {
      fill: #bfbfbf; }
    @media only screen and (max-width: 75em) {
      .sidebar-right__trigger {
        display: flex; } }
  @media only screen and (max-width: 75em) {
    .sidebar-right {
      grid-column: sidebar-right-min-start / sidebar-right-end; }
      .sidebar-right .users {
        display: none; }
      .sidebar-right .toolbar {
        display: none; }
      .sidebar-right--show {
        z-index: 100;
        grid-column: sidebar-right-start / sidebar-right-end; }
        .sidebar-right--show .sidebar-right__trigger {
          display: none; }
        .sidebar-right--show .users {
          display: grid;
          animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
        .sidebar-right--show .toolbar {
          display: grid;
          animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
      .sidebar-right__resp-backgroud {
        z-index: 100;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
        .sidebar-right__resp-backgroud--hide {
          animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
      .sidebar-right--hide .users {
        display: grid;
        animation: slide-left-hide 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
      .sidebar-right--hide .toolbar {
        display: grid;
        animation: slide-left-hide 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; } }

/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */
.footer {
  background-color: #151728;
  grid-column: footer-start / footer-end;
  grid-row: 3 / -1;
  color: #bfbfbf;
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
  transition: all .3S; }
  @media only screen and (max-width: 75em) {
    .footer {
      grid-row: 2 / -1;
      align-self: end;
      padding-bottom: 2rem;
      z-index: 20;
      width: 6rem;
      justify-self: end; }
      .footer span {
        writing-mode: vertical-lr; }
      .footer--show {
        z-index: 100;
        width: auto;
        justify-self: stretch;
        grid-row: 3 / -1;
        padding-bottom: 0;
        align-self: stretch; }
        .footer--show span {
          writing-mode: horizontal-tb; } }
  @media only screen and (max-width: 25em) {
    .footer {
      width: 4rem; }
      .footer--show {
        display: none; } }

/* -------------------------------------------------------------------------- */
/*                                   Profile                                  */
/* -------------------------------------------------------------------------- */
.profile {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 2rem;
  padding: 0 1.5rem;
  overflow: auto;
  /* ----------------------------- Profile Header ----------------------------- */
  /* ------------------------------ Profile Body ------------------------------ */ }
  .profile__header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    height: 35vh;
    min-height: 23rem;
    border-radius: 0.7rem;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr max-content;
    grid-template-columns: repeat(8, 1fr);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
    margin-top: 1.5rem; }
  .profile__pinned {
    grid-column: 1 / 4;
    display: grid;
    grid-auto-rows: min-content;
    grid-row-gap: 2rem;
    padding-bottom: 3rem; }
  .profile__publications {
    grid-column: 4 / -1;
    display: grid;
    grid-auto-rows: min-content;
    grid-row-gap: 2rem;
    padding-bottom: 3rem; }
  @media only screen and (max-width: 60em) {
    .profile__header {
      height: 20vh;
      min-height: 23rem; } }
  .profile__banner {
    grid-column: 1 / -1;
    background-image: linear-gradient(to right bottom, rgba(45, 39, 63, 0.7), rgba(111, 96, 158, 0.7)), url(../img/banner.jpg);
    background-size: cover;
    background-position: bottom;
    padding: 0 3rem;
    display: flex;
    align-items: flex-end; }
  .profile__user-picture {
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    border: solid 0.4rem #151728;
    margin-right: 2rem;
    transform: translateY(25%);
    cursor: pointer; }
  .profile__user-name {
    color: #bfbfbf;
    text-transform: capitalize;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 3rem;
    font-family: "Dancing Script", cursive;
    display: flex;
    align-items: center; }
    .profile__user-name > svg {
      fill: rgba(191, 191, 191, 0.7); }
  .profile__menu {
    grid-column: 1 / -1;
    background-color: #151728;
    display: flex;
    padding: 0 22rem; }
    .profile__menu-item {
      box-sizing: content-box; }
      .profile__menu-item, .profile__menu-item:link, .profile__menu-item:visited {
        text-decoration: none;
        text-transform: capitalize;
        font-size: 1.7rem;
        font-weight: 300;
        color: #737373;
        padding: 1.2rem 1.5rem;
        border-bottom: solid 0.4rem transparent;
        transition: all 0.2s; }
      .profile__menu-item:hover, .profile__menu-item:focus, .profile__menu-item--active {
        color: #e6e6e6 !important;
        border-bottom: solid 0.4rem #584c7c !important;
        background-color: rgba(45, 50, 82, 0.15); }
  .profile__introduction-box {
    display: grid;
    align-items: center;
    grid-row-gap: 1rem; }
    .profile__introduction-box svg {
      fill: currentColor;
      margin-right: 1.5rem; }
    .profile__introduction-box > *:not(h2) {
      cursor: pointer; }
  .profile__my-pages {
    display: grid;
    grid-row-gap: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .profile {
      grid-template-columns: minmax(33rem, 1fr); }
      .profile__header {
        height: min-content;
        grid-column: 1 / 2;
        grid-column: 1 / 2;
        grid-template-columns: 1fr; }
      .profile__banner {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
      .profile__menu {
        padding: 0;
        justify-content: center; }
      .profile__user-picture {
        height: 12rem;
        width: 12rem;
        margin-right: 0;
        transform: translateY(0); }
      .profile__user-name {
        font-size: 3rem;
        margin: 0; }
      .profile__pinned {
        grid-column: 1 / 2; }
      .profile__publications {
        grid-column: 1 / 2; } }
  @media only screen and (max-width: 25em) {
    .profile__menu {
      flex-direction: column; } }
