/* -------------------------------------------------------------------------- */
/*                               Container-fluid                              */
/* -------------------------------------------------------------------------- */

.container-fluid {
    display: grid;
    grid-template-columns:
        [full-start sidebar-left-start] 27rem [sidebar-left-end main-start header-start] 1fr
        [main-end sidebar-right-start footer-start] 27rem [sidebar-right-end hearder-end footer-end full-end];
    transition: all 0.2s;

    @include respond-to("large-2") {
        grid-template-columns:
            [full-start sidebar-left-start] 27rem [sidebar-left-end main-start header-start] 1fr [sidebar-right-start footer-start] 21rem
            [main-end sidebar-right-min-start footer-start-min] 6rem [sidebar-right-end hearder-end footer-end full-end];
    }

    @include respond-to("medium-1") {
        grid-template-columns:
            [full-start sidebar-left-start] 6rem [sidebar-min-left-end header-start main-start] 21rem [sidebar-left-end] 1fr [sidebar-right-start footer-start] 21rem
            [main-end sidebar-right-min-start footer-start-min] 6rem [sidebar-right-end hearder-end footer-end full-end];
    }
    @include respond-to("small-2") {
        grid-template-columns:
            [full-start sidebar-left-start] 4rem [sidebar-min-left-end header-start main-start] 20rem [sidebar-left-end] 1fr [sidebar-right-start footer-start] 20rem
            [main-end sidebar-right-min-start footer-start-min] 4rem [sidebar-right-end hearder-end footer-end full-end];
    }

    grid-template-rows: $header-size minmax(45rem, calc(100vh - #{$header-size} - #{$footer-size})) $footer-size;
    grid-auto-flow: column;

    &--zoom-in {
        animation: zoom-in 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }
    &--zoom-out {
        animation: zoom-out 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }

    background-color: $color-primary;
}
