/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */

.footer {
    background-color: $color-primary;
    grid-column: footer-start / footer-end;
    grid-row: 3 / -1;
    color: $color-grey-dark-2;

    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
    transition: all .3S;
    @include respond-to("large-2") {
        grid-row: 2 / -1;
        align-self: end;
        padding-bottom: 2rem;
        z-index: 20;
        span {
            writing-mode: vertical-lr;
        }
        width: 6rem;
        justify-self: end;
        
        &--show {
            z-index: 100;
            width: auto;
            justify-self: stretch;
            grid-row: 3 / -1;
            padding-bottom: 0;
            align-self: stretch;
            span {
                writing-mode: horizontal-tb;
            }
            
        }
    }

    @include respond-to("small-2") {
        width: 4rem;

        &--show {
            display: none;
        }
    }
}