/* -------------------------------------------------------------------------- */
/*                                   Header                                   */
/* -------------------------------------------------------------------------- */

.header {
    grid-column: header-start / header-end;
    grid-row: 1 / 2;
    align-self: start;
    z-index: 10;

    display: grid;
    grid-template-columns: 1fr minmax(min-content, 27rem);
    justify-content: center;
    align-items: stretch;

    height: 100%;
    padding: 1rem 0;
    background-color: $color-primary;
    border-bottom: .7px solid rgba($color: $color-border, $alpha: .8);

    @include respond-to("small-2"){
        grid-template-columns: 1fr;
    }
}
