/* -------------------------------------------------------------------------- */
/*                                Main content                                */
/* -------------------------------------------------------------------------- */

.main {
    grid-column: main-start / main-end;
    grid-row: 2 / 4;
    position: relative;
    
    background-color: $color-bcground;
    color: $color-grey-dark-2;

    overflow: auto;
    
   /* &::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../img/banner.jpg);
        background-position: center;
        background-size: cover;
        z-index: -1;
        //filter: blur(2px)
    }*/
}
