/* ------------------------------- Navigation ------------------------------- */

.navigation {
    display: flex;
    flex-direction: column;
    @include respond-to("medium-1") {
        display: none;
    }
}