/* -------------------------------------------------------------------------- */
/*                                Right sidebar                               */
/* -------------------------------------------------------------------------- */

.sidebar-right {
    grid-column: sidebar-right-start / sidebar-right-end;
    grid-row: 2 / 3;

    display: grid;
    grid-template-rows: 1fr min-content;
    overflow: hidden;

    .users {
        overflow-y: auto;
        grid-row: 1/2;
        grid-column: 1/1;
        z-index: 20;

        &__stories {
            border-bottom: 0.7px solid rgba($color: $color-grey-dark-3, $alpha: 0.8);
        }

        &__contacts,
        &__stories {
            padding: 3rem 0;
            display: grid;
            grid-row-gap: 0.8rem;
            margin: 0 2rem;
        }
        background-color: $color-primary;
        transition: all 0.5s;
    }

    .toolbar {
        padding: 1rem;
        border-top: 0.7px solid rgba($color: $color-grey-dark-3, $alpha: 0.8);
        border-bottom: 0.7px solid rgba($color: $color-grey-dark-3, $alpha: 0.8);
        display: grid;
        grid-template-columns: 1fr repeat(3, min-content);
        align-items: center;
        grid-column-gap: 1.5rem;
        background-color: $color-primary;
        z-index: 20;
        svg {
            cursor: pointer;
            fill: $color-grey-dark-2;
            transition: all 0.5s;
            &:hover {
                fill: $color-grey-dark-3;
            }
        }
    }

    /* ------------------------------ Responsivity ------------------------------ */
    &__trigger {
        @include sideBarTrigger;

        display: none;
        @include respond-to("large-2") {
            display: flex;
        }
    }

    @include respond-to("large-2") {
        grid-column: sidebar-right-min-start / sidebar-right-end;
        .users {
            display: none;
        }
        .toolbar {
            display: none;
        }

        &--show {
            .sidebar-right__trigger {
                display: none;
            }
            z-index: 100;
            grid-column: sidebar-right-start / sidebar-right-end;

            .users {
                display: grid;
                animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            }
            .toolbar {
                display: grid;
                animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            }
        }

        &__resp-backgroud {
            @include sideBarBackground;
        }

        &--hide {
            .users {
                display: grid;
                animation: slide-left-hide 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            }
            .toolbar {
                display: grid;
                animation: slide-left-hide 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            }
        }
    }
}
