/* -------------------------------------------------------------------------- */
/*                                Left sidebar                                */
/* -------------------------------------------------------------------------- */

.sidebar-left {
    grid-column: sidebar-left-start / sidebar-left-end;
    grid-row: 1 / 4;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    border-right: 0.7px solid rgba($color: $color-border, $alpha: 0.8);

    .heading-box {
        height: $header-size;
        cursor: pointer;
        z-index: 5;

        display: flex;
        align-items: center;
        justify-content: center;
        &__logo {
            height: 3.5rem;
            width: 3.5rem;
            margin-right: 1rem;
            animation: rotate-in-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 0.5s;
        }
    }

    /* ---------------------------- Responsivity --------------------------- */
    &__trigger {
        @include sideBarTrigger;

        display: none;
        @include respond-to("medium-1") {
            display: flex;
        }
    }

    @include respond-to("medium-1") {
        grid-column: sidebar-left-start / sidebar-min-left-end;
        grid-template-rows: auto 1fr;
        overflow: hidden;

        .heading-box {
            align-self: center;
            writing-mode: vertical-lr;
            display: flex;
            &__logo {
                margin: 0;
                margin-bottom: 1.5rem;
                animation: rotate-in-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 0.5s;
            }
        }

        &--show {
            z-index: 100;
            background-color: $color-primary;
            grid-column: sidebar-left-start / sidebar-left-end;
            animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            .sidebar-left__trigger {
                display: none;
            }

            .heading-box {
                background-color: $color-primary;
                writing-mode: horizontal-tb;
                align-self: stretch;
                &__logo {
                    margin: 0;
                    margin-right: 1rem;
                    animation: rotate-in-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 0.5s;
                }
            }

            .navigation {
                display: flex;
            }

            .cta {
                display: grid;
            }
        }

        &__resp-backgroud {
            @include sideBarBackground;
        }

        &--hide {
            animation: slide-right-hide 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }
    }

    @include respond-to("small-1") {
        &--show {
            .cta {
                display: none;
            }
        }
    }
}
