/* -------------------------------------------------------------------------- */
/*                                   Mixins                                   */
/* -------------------------------------------------------------------------- */

/* ----------------------- Light / Dark color Modifier ---------------------- */

@mixin light-dark-color-modifier {
    &--light {
        color: $color-grey-dark-2;
    }

    &--dark {
        color: $color-grey-dark-3;
    }
}

/* ----------------- SideBars Triggers buttons & Background ----------------- */

@mixin sideBarTrigger {
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 10;

    background-color: $color-primary;
    align-self: start;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-top: 1px solid rgba($color: $color-grey-dark-3, $alpha: 0.8);
    border-bottom: 1px solid rgba($color: $color-grey-dark-3, $alpha: 0.8);
    transition: all 0.3s;
    height: $header-size;

    &:hover {
        background-color: $color-primary-light;
    }

    svg {
        fill: $color-grey-dark-2;
    }
}

@mixin sideBarBackground {
    z-index: 100;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

            &--hide {
                animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            }
}

/* ------------------------------ Media queries ----------------------------- */

@mixin respond-to($breakpoint) {
    @if (map-has-key($breakpoints, $breakpoint)) {
        @media only screen and (max-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }
}
