/* -------------------------------------------------------------------------- */
/*                              Colors variables                              */
/* -------------------------------------------------------------------------- */

$color-primary: #151728;
$color-primary-dark: #121321;
$color-primary-light: #2d3252;

$color-secondary-dark: #2d273f;
$color-secondary: #584c7c;
$color-secondary-light: #6f609e;

$color-grey-dark-1: #777;
$color-grey-dark-2: #bfbfbf;
$color-grey-dark-3: #737373;

$color-grey-light-1: #e6e6e6;
$color-grey-light-2: #ccc;
$color-grey-light-3: #bfbfbf;

$color-white: #fff;
$color-black: #000;

$color-bcground: #24273b;
$color-bcground-body: #79777e;
$color-border: #2d3252;

/* -------------------------------------------------------------------------- */
/*                             Font variables                                 */
/* -------------------------------------------------------------------------- */

$default-font-size: 1.4rem;
$default-font-color: #595959;

$font-size-small: 0.8rem;
$font-size-medium: 2rem;

/* -------------------------------------------------------------------------- */
/*                              Layout Variables                              */
/* -------------------------------------------------------------------------- */
$header-size: 5.9rem;
$footer-size: 5rem;

/* -------------------------------------------------------------------------- */
/*                            Breakpoints Variables                           */
/* -------------------------------------------------------------------------- */

$breakpoints: (
    "large-1": 87.5em,
    "large-2": 75em,
    "medium-1": 60em,
    "medium-2": 50em,
    "small-1": 37.5em,
    "small-2": 25em
);
