/* ---------------------------- Accordion Effect Component---------------------------- */

.accordion {
    &__trigger {
        padding: 1.3rem 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        cursor: pointer;
        transition: all 0.2s;
        margin-bottom: 1px;
        background-color: $color-grey-dark-2;

        & > * {
            color: $color-secondary-light;
        }

        svg {
            fill: currentColor;
            transition: transform 0.3s .4s;
        }
        
        &:hover,
        &:focus,
        &--opened{
            background-color: $color-primary-light;
            & > * {
                color: $color-grey-dark-2;
            }
        }
        
        &--opened {
            svg {
                transform: rotate(180deg);
            }
        }
    }

    &__items-panel {
        background-color: $color-primary-dark;

        &--hide {
            display: none;
        }
    }
}
