/* ---------------------------------- Badge Component--------------------------------- */

.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: 900;
    transform: translate(-70%, -50%);
    box-shadow: 0 .2rem .4rem $color-black;

    &--small {
        font-size: $font-size-small;
        height: 1.5rem;
        width: 1.5rem;
    }

    &--secondary {
        background-color: $color-secondary;
        color: $color-white;
    }

    &--animated {
        animation: jello-vertical 5s ease-out infinite ;
    }
}