/* ---------------------------- Button Compontent --------------------------- */

.btn {
    &,
    &:link,
    &:visited {
        background-color: transparent;
        font-family: inherit;
        font-size: inherit;
        cursor: pointer;
        color: inherit;
        display: flex;
        align-items: center;
    }

    /* ---------------------------------- Shape --------------------------------- */

    &--basic {
        padding: 1rem 2rem;
        border-radius: 0.4rem;
        border: solid 0.03rem;
        box-shadow: 0 2rem 4rem rgba($color: $color-black, $alpha: 0.7);
        transition: all 0.2s;
        &:hover,
        &:focus {
            transform: translateY(-0.1rem);
            box-shadow: 0 2.5rem 4rem rgba($color: $color-black, $alpha: 0.9);
        }
        &:active {
            transform: translateY(-0.05rem);
            box-shadow: 0 2.5rem 4rem rgba($color: $color-black, $alpha: 0.5);
        }
    }

    &--rounded {
        padding: 0.2rem 1.5rem;
        border-radius: 2rem;
        transition: all 0.2s;
    }

    /* ---------------------------------- Size ---------------------------------- */
    &--md {
        font-size: 1.5rem;
        font-weight: 300;
    }

    &--md-bold {
        font-size: 1.6rem;
        font-weight: 400;
    }

    /* ---------------------------------- Color --------------------------------- */

    &--transparent {
        color: $color-grey-dark-2;
        transition: all 0.2s;
    }

    &--primary {
        transition: all 0.2s;
        &:hover,
        &:focus,
        &-active {
            color: $color-grey-dark-2 !important;
            background-color: $color-primary-light !important;
        }
    }

    &--secondary {
        color: $color-grey-light-1 !important;
        background-color: $color-secondary;
        border-color: transparent;
        text-shadow: 0 2rem 4rem rgba($color: $color-white, $alpha: 1.0);
    }
}
