/* -------------------------- CTA : Call To Action Component-------------------------- */

.cta {
    background-color: $color-grey-dark-2;
    border-top: .7px solid rgba($color: $color-border, $alpha: .8);
    display: grid;
    @include respond-to("medium-1") {
        display: none;
    }
}