/* ------------------------------- Event card Component------------------------------- */

.event {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    color: $color-grey-light-1;

    &__poster {
        width: 100%;
        height: 20rem;
        object-fit: cover;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    &__date-box {
        grid-row: 1 / 2;
        grid-column: 1 / 2;

        display: grid;
        width: 25%;
        height: 40%;

        font-size: 1.8rem;
        font-weight: 700;
        text-align: center;
        border-radius: 0.4rem;
        overflow: hidden;
        box-shadow: 0 2rem 4rem rgba($color: $color-black, $alpha: 0.8);
        transform: translate(20%, 20%);
    }
    &__month {
        background-color: $color-secondary-light;
        padding: 0.5rem;
    }

    &__day {
        background-color: rgba($color: $color-black, $alpha: 0.7);
        padding: 0.5rem;
    }

    &__name {
        font-size: 1.8rem;
    }

    &__location {
        font-size: 1.4rem;
        color: $color-grey-dark-3;
    }

    &__name, &__location {
        margin-left: 1rem;
    }
}
