/* -------------------------------- Flip Card Component------------------------------- */

.flip-card {
    perspective: 110rem;
    cursor: pointer;
    &__side {
        padding: 0.8rem 0rem;
        transition: all 0.7s;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        backface-visibility: hidden;
        box-shadow: 0 2rem 4rem rgba($color: $color-black, $alpha: 0.2);
        &--front {
            color: $color-grey-dark-2;
            background-color: $color-primary;
            font-size: 1.7rem;
            font-weight: 300;
        }

        &--back {
            transform: rotateX(180deg);
            background-color: $color-primary-light;
            font-weight: 100;
        }
    }
    &:hover &__side--front,
    &--flipped &__side--front {
        transform: rotateX(-180deg);
    }

    &:hover &__side--back,
    &--flipped &__side--back {
        transform: rotateX(0);
    }
}
