/* ----------------------- Image Composition Component ---------------------- */
.image-composition {
    display: grid;
    height: 33rem;
    align-items: stretch;
    &__image {
        border: 0.4rem solid rgba($color: $color-border, $alpha: 0.8);
        cursor: pointer;
    }
    &--2 {
        grid-template-columns: repeat(2, 1fr);
    }
    &--2 &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &--3 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 50%);
    }
    &--3 &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        &:nth-child(1) {
            grid-row: 1 / -1;
        }
    }
}
