/* ----------------------------------Menu List Component--------------------------------- */

.menu-list {
    display: grid;

    &__item {
        display: flex;
        align-items: center;
        color: $color-grey-dark-3;
        font-weight: 300;
        position: relative;
        overflow: hidden;

        padding: 1rem 4rem;
        text-transform: capitalize;
        font-size: $default-font-size;
        transition: all 0.2s;
        z-index: 5;
        svg {
            margin-right: 1.5rem;
            fill: currentColor;
        }

        &::before {
            z-index: -1;
            content: "";
            height: 2rem;
            width: 2rem;
            position: absolute;
            top: 0;
            right: 0;
            transition: all 0.6s ease-in-out;
            background-color: $color-primary-light;
            opacity: 0;
        }

        &:hover,
        &:focus {
            transform: translateX(0.5rem);
            color: $color-grey-light-1;
        }

        &:hover::before,
        &:focus::before {
            transform: scale(40);
            opacity: 1;
        }

        &--active {
            color: $color-grey-light-1;
            transform: translateX(0.5rem);
            background-color: $color-primary-light;
        }
    }
}
