/* ----------------------------- Modal component ---------------------------- */

.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    display: none;
    justify-content: center;

    background-color: $color-black;
    animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

    &__box {
        margin-top: 2rem;
        width: 50%;
        min-width: 40rem;
        height: max-content;
        border-radius: 0.7rem;
        box-shadow: 0 3rem 4rem rgba($color: $color-black, $alpha: 0.7);
        display: grid;
        overflow: hidden;

        transform: translateX(-1500px);
        animation: roadRunnerIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }

    /* ---------------------------- Closing Animation --------------------------- */
    &--closing {
        animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }

    &--closing &__box {
        animation: roadRunnerOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }

    &__header {
        font-size: $font-size-medium;
        font-weight: 400;
        letter-spacing: 0.2rem;
        padding: 0.8rem 2rem;
        display: grid;
        grid-template-columns: min-content 1fr min-content;
        align-items: center;
    }

    &__title {
        font-weight: 400;
    }

    &__icon {
        fill: currentColor;
        margin-right: 1rem;
    }

    &__close {
        font-weight: 700;
        font-size: 2.5rem;
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
            transform: translateY(-0.15rem);
            text-shadow: 0 0.8rem 1rem rgba($color: $color-black, $alpha: 0.4);
        }
        &:active {
            transform: translateY(-0.08rem);
            text-shadow: 0 0.5rem 0.7rem rgba($color: $color-black, $alpha: 0.4);
        }
    }

    &__body {
        padding: 2rem;
        overflow: auto;
        height: 20rem;
    }

    &__footer {
        padding: 1rem;
    }

    /* ---------------------- Color depending on the modal type (Informaation, Warning, Error) --------------------- */

    &--information &__header,
    &--information &__footer {
        color: $color-grey-dark-2;
        background-color: $color-primary;
    }
    &--information &__body {
        color: $color-grey-dark-2;
        background-color: $color-primary-light;
    }
}

