/* --------------------------- New Post Component --------------------------- */

.new-post {
    display: grid;
    grid-row-gap: 2rem;
    grid-template-rows: repeat(3, auto);
    &__header {
        display: flex;
    }

    &__type-list {
        display: flex;
        list-style: none;
    }

    &__type-item {
        color: $color-grey-dark-3;
        margin-right: 1.5rem;
        display: flex;
    }

    &__form {
        display: flex;
        align-items: center;
    }

    &__text-input {
        width: 100%;
        padding: 2rem 0;
        border: none;
        background-color: transparent;
        color: inherit;
        font-size: 1.6rem;
        &:focus {
            outline: none;
        }
        &::-webkit-input-placeholder {
            color: $color-grey-dark-3;
            font-size: 1.6rem;
        }
    }

    &__author-picture {
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        grid-row: 1 / 3;
        object-fit: cover;
        object-position: center;
        margin-right: 2rem;
        cursor: pointer;
    }
    &__footer {
        border-top: .7px solid rgba($color: $color-grey-dark-3, $alpha: .8);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        padding-top: 1rem;
    }
    &__option-list {
        list-style: none;
        display: flex;
    }

    &__option-item {
        svg {
            fill: $color-grey-dark-3;
            margin-right: 1rem;
        }
    }

    @include respond-to("small-2") {
        &__footer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        &__option-list {
            margin-bottom: 2rem;
        }

    }
}
