/* ----------------------------- Popup Component ---------------------------- */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 200;

    &__background {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
        width: 100%;
    }

    &__content {
        background-color: $color-primary;
        box-shadow: 0 4rem 4rem rgba($color: $color-black, $alpha: 0.9);
        border-radius: 0.7rem;
        height: 70%;
        min-height: 38rem;
        overflow: hidden;

        display: flex;
        justify-content: center;
    }

    &--show &__background {
        animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }
    &--show &__content {
        animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }

    &--hide &__background {
        animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }
    &--hide &__content {
        animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }
}
