/* ----------------------------- Post component ----------------------------- */
.post {
    display: grid;
    grid-row-gap: 2rem;

    /* ------------------------------- Post Header ------------------------------ */
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title-box {
        display: grid;
        grid-template-columns: min-content 1fr;
    }

    &__author-pic {
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        margin-right: 2rem;
        cursor: pointer;
        grid-row: 1 / 3;
    }

    &__title {
        font-size: 1.6rem;
    }

    &__author-name {
        text-transform: capitalize;
        color: $color-grey-light-1;
        font-weight: 700;
        cursor: pointer;
    }

    &__label {
        text-transform: lowercase;
    }

    &__date {
        color: $color-grey-dark-3;
        text-transform: lowercase;
    }
    &__option {
        cursor: pointer;
        svg {
            fill: $color-grey-dark-3;
            transition: all 0.2s;
            &:hover {
                fill: $color-grey-dark-2;
            }
        }
    }

    &__body {
        padding: 0 2rem;
    }

    /* ------------------------------- Pot Footer ------------------------------- */

    &__footer {
        padding: 0 2rem;
    }

    &__reation-list {
        list-style: none;
        display: flex;
        align-items: center;
    }

    &__reaction-item {
        margin-right: 2.5rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        color: $color-grey-dark-3;
        transition: all .2S;

        &:hover {
            color: $color-grey-dark-2;
        }
        svg {
            fill: currentColor;
            margin-right: .5rem;
        }
    }

    &__reaction-count {
        font-size: 1.3rem;
        font-weight: 700;
    }
}
