/* --------------------------------- Search Component--------------------------------- */

.search {
    width: 100%;
    display: flex;
    justify-content: center;
    &__input {
        width: 100%;
        padding: 1rem 3rem;
        margin-right: 0;
        transform: translateX(-1.25rem);
        font-family: inherit;
        font-size: inherit;
        color: $color-grey-light-2;
        border: none;
        transition: all 0.3s;
        background-color: transparent;
        border-bottom: solid 0.2rem transparent;

        &:focus,
        &:hover {
            outline: none;
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }
    }

    &__button {
        background-color: transparent;
        border: none;
        transform: translateX(50%);
        z-index: 10;
        transition: all 0.2s;
        color: $color-grey-dark-2;

        &:hover {
            transform: translateX(50%) scale(1.08);
        }

        &:active {
            transform: translateX(50%) translateY(0.2rem);
        }

        svg {
            fill: currentColor;
        }
    }

    &--animated {
        .search__input {
            width: 70%;
            padding: 1rem 3rem;
            
            &:focus,
            &:hover {
                width: 80%;
                border-bottom: solid 0.1rem $color-grey-dark-2;
                outline: none;
            }
        }

        .search__button {
            &:hover ~ .search__input {
                width: 80%;
                border-bottom: solid 0.2rem $color-grey-dark-1;
                outline: none;
            }
        }
    }
    
}
