/* ----------------------------- User navigation Component---------------------------- */

.user-nav {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-column-gap: 2rem;
    justify-content: space-around;

    &__item,
    & {
        display: flex;
        align-items: center;
        transition: all 0.2s;
        color: $color-grey-dark-2;

        &:hover:not(:last-child),
        &:focus:not(:last-child) {
            transform: scale(1.08);
            outline: none;
            color: $color-grey-light-1;
        }
    }

    .user-box {
        display: flex;
        align-items: center;
        color: $color-grey-dark-2;

        &__user-name {
            font-weight: 700;
            margin-right: 1rem;
        }

        &__user-picture {
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            margin-right: 1rem;
        }

        &__button-plus {
            display: flex;
            align-items: center;
            cursor: pointer;
            background: transparent;
            border: none;
            color: inherit;

            &:hover,
            &:focus {
                transform: scale(1.08);
                outline: none;
                color: $color-grey-light-1;
            }
        }
    }

    svg {
        fill: currentColor;
    }

    @include respond-to("small-2"){
        display: none;
    }
}
