/* ---------------------------------- Story Component --------------------------------- */
.story {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;
    cursor: pointer;

    &__user-pic {
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
        border: solid 0.3rem $color-secondary;
        grid-row: 1 / 3;
        object-fit: cover;
        object-position: center;
    }

    &:hover &__user-pic {
        border: solid 0.3rem $color-grey-dark-2;
    }
    &__user-name {
        color: $color-grey-dark-2;
        font-size: 1.6rem;
        text-transform: capitalize;
    }

    &__last-update {
        text-transform: lowercase;
    }
}
