/* --------------------------------- Contact -------------------------------- */

.contact {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
    cursor: pointer;

    &__pic {
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
        grid-row: 1 / 3;
        object-fit: cover;
        object-position: center;
        margin-right: 2rem;
    }

    &__name {
        color: $color-grey-dark-2;
        font-size: 1.6rem;
        line-height: 0;
    }

   &--oneline &__status{
        fill: $color-secondary;
   }

   &--offline &__status{
    fill: $color-grey-dark-3;
}

}