/* ------------------------------ Page Account Component------------------------------ */

.page {
    display: flex;
    align-items: center;

    &__profile-picture {
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        margin-right: 2rem;
    }

    &__name {
        font-size: 1.6rem;
        line-height: 0;
    }
}
