/* -------------------------------------------------------------------------- */
/*                                 Animations                                 */
/* -------------------------------------------------------------------------- */

/* ------------------------ Badges Animation------------------------ */

@keyframes jello-vertical {
    0% {
        transform: translate(-70%, -50%) scale3d(1, 1, 1);
    }
    1% {
        transform: translate(-70%, -50%) scale3d(0.75, 1.25, 1);
    }
    5% {
        transform: translate(-70%, -50%) scale3d(1.25, 0.75, 1);
    }
    8% {
        transform: translate(-70%, -50%) scale3d(0.85, 1.15, 1);
    }
    12% {
        transform: translate(-70%, -50%) scale3d(1.05, 0.95, 1);
    }
    15% {
        transform: translate(-70%, -50%) scale3d(0.95, 1.05, 1);
    }
    20% {
        transform: translate(-70%, -50%) scale3d(1, 1, 1);
    }

    100% {
        transform: translate(-70%, -50%) scale3d(1, 1, 1);
    }
}

/* ----------------------------- Logo Animation ----------------------------- */

@keyframes rotate-in-center {
    0% {
        transform: rotate(-360deg);
        opacity: 0;
    }
    100% {
        transform: rotate(0);
        opacity: 1;
    }
}

/* ----------------------------- Modal Animation ---------------------------- */

@keyframes fadeIn {
    0% {
        background: rgba(0, 0, 0, 0);
    }
    100% {
        background: rgba(0, 0, 0, 0.7);
    }
}

@keyframes fadeOut {
    0% {
        background: rgba(0, 0, 0, 0.7);
    }
    100% {
        background: rgba(0, 0, 0, 0);
    }
}

@keyframes quickScaleDown {
    0% {
        transform: scale(1);
    }
    99.9% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes roadRunnerIn {
    0% {
        transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
    }
    70% {
        transform: translateX(30px) skewX(0deg) scaleX(0.9);
    }
    100% {
        transform: translateX(0px) skewX(0deg) scaleX(1);
    }
}

@keyframes roadRunnerOut {
    0% {
        transform: translateX(0px) skewX(0deg) scaleX(1);
    }
    30% {
        transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
    }
    100% {
        transform: translateX(1500px) skewX(30deg) scaleX(1.3);
    }
}

/* ---------------------------- Popup Animations ---------------------------- */
@keyframes zoom-out {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.95);
    }
}

@keyframes zoom-in {
    0% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(0.8) translateY(1000px);
        opacity: 0;
    }
    100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
    }
}

@keyframes scaleDown {
    0% {
        transform: scale(1) translateY(0px);
        opacity: 1;
    }
    100% {
        transform: scale(0.8) translateY(1000px);
        opacity: 0;
    }
}

/* --------------------------- SideBar Animations --------------------------- */

@keyframes slide-left {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-left-hide {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}


@keyframes slide-right {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-right-hide {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

