/* -------------------------------------------------------------------------- */
/*                        Reset default browsers values                       */
/* -------------------------------------------------------------------------- */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // The default font-size of the browser is 16px,we put it on 10px (62.5% of its value). So now 1rem unit is equal to 10px.

    @include respond-to("large-1"){
        font-size: 50%;
    }

    @include respond-to("medium-2"){
        font-size: 37.5%;
    }
}

body {
    position: relative;
    background-color: $color-bcground-body;
}

/* -------------------------------------------------------------------------- */
/*                                  SVG icon                                  */
/* -------------------------------------------------------------------------- */

.svg-icon {
    &--xsmall {
        height: 1.2rem;
        width: 1.2rem;
    }
    &--small {
        height: 2rem;
        width: 2rem;
    }

    &--medium {
        height: 3rem;
        width: 3rem;
    }

    &--big {
        height: 4.5rem;
        width: 4.5rem;
    }
}

/* -------------------------------------------------------------------------- */
/*                                   button                                   */
/* -------------------------------------------------------------------------- */

button:focus,
a:focus {
    outline: none;
}

a {
    text-decoration: none;
}

/* -------------------------------------------------------------------------- */
/*                              Custom Scroll bar                             */
/* -------------------------------------------------------------------------- */

* {
    &::-webkit-scrollbar {
        width: 1.1rem;
        padding-top: 1rem;
        opacity: 0;

        &-track {
            background: transparent;
        }

        &-thumb {
            background: rgba($color: $color-grey-dark-3, $alpha: 0.4);
            border-radius: 10rem;
            transition: all 0.2s;
            &:hover {
                background: rgba($color: $color-grey-dark-2, $alpha: 0.4);
            }
        }
    }
}
