/* -------------------------------------------------------------------------- */
/*                             Default typography                             */
/* -------------------------------------------------------------------------- */

body {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-size: $default-font-size;
    font-weight: 400;
    line-height: 1.7;
    color: $default-font-color;
}

/* -------------------------------------------------------------------------- */
/*                                  Headings                                  */
/* -------------------------------------------------------------------------- */

.heading-1 {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.8rem;
    @include light-dark-color-modifier;
}

.heading-2 {
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    @include light-dark-color-modifier;
}

.heading-3 {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    @include light-dark-color-modifier;
}

/* -------------------------------------------------------------------------- */
/*                                    Text                                    */
/* -------------------------------------------------------------------------- */

.paragraph {
    font-size: $default-font-size;
    line-height: 1.8;
    font-size: 1.6rem;
}
