/* -------------------------------------------------------------------------- */
/*                                  Utilities                                 */
/* -------------------------------------------------------------------------- */

/* ------------------------ Text transform utilities ------------------------ */
.u-text-uppercase {
    text-transform: uppercase;
}

.u-text-center {
    text-align: center;
}

.u-text-highlighted {
    color: $color-secondary-light;
    font-size: 1.7rem;
}
/* --------------------------- Content positioning -------------------------- */
.u-content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------------------------- Margin --------------------------------- */

.u-margin-bottom {
    &--small:not(:last-child) {
        margin-bottom: 1rem;
    }

    &--medium:not(:last-child) {
        margin-bottom: 1.2rem;
    }
}

/* ------------------------------ Image Sizing ------------------------------ */
.img__size--cover {
    height: 100%;
    object-fit: cover;
    object-position: center;
}