/* -------------------------------------------------------------------------- */
/*                                   Profile                                  */
/* -------------------------------------------------------------------------- */

.profile {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 2rem;
    padding: 0 1.5rem;
    overflow: auto;

    &__header {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        height: 35vh;
        min-height: 23rem;
        border-radius: 0.7rem;
        overflow: hidden;

        display: grid;
        grid-template-rows: 1fr max-content;
        grid-template-columns: repeat(8, 1fr);
        box-shadow: 0 2rem 4rem rgba($color: $color-black, $alpha: 0.3);

        margin-top: 1.5rem;
    }

    &__pinned {
        grid-column: 1 / 4;
        display: grid;
        grid-auto-rows: min-content;
        grid-row-gap: 2rem;
        padding-bottom: 3rem;
    }

    &__publications {
        grid-column: 4 / -1;
        display: grid;
        grid-auto-rows: min-content;
        grid-row-gap: 2rem;
        padding-bottom: 3rem;
    }

    @include respond-to("medium-1") {
        &__header {
            height: 20vh;
            min-height: 23rem;
        }
    }

    /* ----------------------------- Profile Header ----------------------------- */
    &__banner {
        grid-column: 1 / -1;
        background-image: linear-gradient(to right bottom, rgba($color-secondary-dark, 0.7), rgba($color-secondary-light, 0.7)),
            url(../img/banner.jpg);
        background-size: cover;
        background-position: bottom;
        padding: 0 3rem;

        display: flex;
        align-items: flex-end;
    }

    &__user-picture {
        height: 17rem;
        width: 17rem;
        border-radius: 50%;
        border: solid 0.4rem $color-primary;
        margin-right: 2rem;
        transform: translateY(25%);
        cursor: pointer;
    }

    &__user-name {
        color: $color-grey-dark-2;
        text-transform: capitalize;
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 3rem;
        font-family: "Dancing Script", cursive;

        display: flex;
        align-items: center;

        & > svg {
            fill: rgba($color-grey-dark-2, 0.7);
        }
    }

    &__menu {
        grid-column: 1 / -1;
        background-color: $color-primary;

        display: flex;
        padding: 0 22rem;

        &-item {
            box-sizing: content-box;
            &,
            &:link,
            &:visited {
                text-decoration: none;
                text-transform: capitalize;
                font-size: 1.7rem;
                font-weight: 300;
                color: $color-grey-dark-3;
                padding: 1.2rem 1.5rem;
                border-bottom: solid 0.4rem transparent;
                transition: all 0.2s;
            }

            &:hover,
            &:focus,
            &--active {
                color: $color-grey-light-1 !important;
                border-bottom: solid 0.4rem $color-secondary !important;
                background-color: rgba($color: $color-primary-light, $alpha: 0.15);
            }
        }
    }

    /* ------------------------------ Profile Body ------------------------------ */

    &__introduction-box {
        display: grid;
        align-items: center;
        grid-row-gap: 1rem;

        svg {
            fill: currentColor;
            margin-right: 1.5rem;
        }

        & > *:not(h2) {
            cursor: pointer;
        }
    }

    &__my-pages {
        display: grid;
        grid-row-gap: 2rem;
    }

    @include respond-to("small-1") {
        grid-template-columns: minmax(33rem, 1fr);
        &__header {
            height: min-content;
            grid-column: 1 / 2;
            grid-column: 1 / 2;
            grid-template-columns: 1fr;
        }
        &__banner {
            padding: 0;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &__menu {
            padding: 0;
            justify-content: center;
        }
        &__user-picture {
            height: 12rem;
            width: 12rem;
            margin-right: 0;
            transform: translateY(0);
        }

        &__user-name {
            font-size: 3rem;
            margin: 0;
        }
        &__pinned {
            grid-column: 1 / 2;
        }

        &__publications {
            grid-column: 1 / 2;
        }
    }

    @include respond-to("small-2") {
        &__menu {
            flex-direction: column;
        }
    }
}
